<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:src="@{/jquery.min.js}" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet">

    <!-- 时间选择器TimePicker -->
    <link th:href="@{/time/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script th:src="@{/time/moment-with-locales.min.js}" type="text/javascript"></script>
    <script th:src="@{/time/bootstrap-datetimepicker.min.js}" type="text/javascript"></script>

    <title>407财政报告</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/image/Price_24px.ico"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">添加贡献<span class="sr-only">(current)</span></a></li>
                <li><a href="/report/list">财政报告</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>欢迎您，贡献者!</h1>
        <p>快添加您的贡献吧，哈哈哈</p>
    </div>
    <div class="row">
        <form class="form-horizontal" action="/report/save" method="post">
            <div class="col-md-2"></div>
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">姓名：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" name="realName" placeholder="贡献人姓名">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group">
                <label for="price" class="col-md-2 control-label">价格：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="price" name="price" placeholder="00.00">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group">
                <label for="date" class="col-md-2 control-label">时间：</label>
                <div class="col-md-4">
                    <div class="input-group date" id="date-ico">
                        <input class="form-control" name="contributingTime"
                               placeholder="选择日期" type="text" id="date"> <span
                            class="input-group-addon"> <i
                            class="glyphicon glyphicon-calendar"></i>
								</span>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#date-ico').datetimepicker({
                                format: 'YYYY-MM-DD',
                                locale: moment.locale('zh-cn')
                            });
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group">
                <label for="intention" class="col-md-2 control-label">用途：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="intention" name="intention" placeholder="请填写具体用途">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-default" id="submit" name="submit">提交</button>
                    <span th:text="${errorList}"></span>
                </div>
            </div>
        </form>
        <!--<table>
            <tr th:each="report : ${report}">
                <p th:text="${report.name}"></p>
                <p>于</p>
                <p th:text="${report.date}"></p>
                <p>，为组织花了</p>
                <p th:text="${report.money}"></p>
                <p>元，用作</p>
                <p th:text="${report.intention}"></p><strong>组织特此感谢！</strong>
            </tr>
        </table>-->
    </div>
</div>
</body>
<!--<script>
    // 点击提交按钮触发
    function save() {
        //执行ajax
        $.ajax({
            // 提交方式
            type: "POST",
            // 访问servleturl
            url: "/save",
            data: {
                name: $("#name").val(),
                money: $("#money").val(),
                date: $("#date").val(),
                usage: $("#usage").val()
            },
            // 服务器成功返回结果后，会把结果保存到data中
            success: function (data) {
                // 先把表体部分清空
                $("#g_tbody").empty();
                // eval获取返回的JSON对象集合
                var data = eval('(' + result + ')');
                // 把数据显示到页面的方法
            }
        });
    }
</script>-->
</html>